<html>
<head><body>
	<h1>My server details..</h1>
		<h2>IP Address : <%= node['ipaddress']%></h2>
		<h2>Hostname   : <%= node['hostname']%></h2>
		<h2>Platform   : <%= node['platform']%></h2>


</html>
